examples/spam_detection/data/
examples/doc2vec/data/
examples/classifying_text_master/data/
examples/doc2vec_1/data/
*.bin
data/
VowpalWabbit/
*.p
examples/deep_classification_reuters/tempfile_full.txt
examples/deep_classification_reuters/tempfile_full_vector.txt
examples/deep_classification_reuters/tempfile.txt
examples/deep_classification_reuters/reuters21578/
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
*.pyc
*.csv
*.pickle
